.icon {
  background-image: url(../img/{{{spritesheet.image}}});
  display: inline-block;
}

{{#sprites}}
.icon{{options.folder}}-{{name}} {
  background-position: {{px.offset_x}} {{px.offset_y}};
  width: {{px.width}};
  height: {{px.height}};
}
{{/sprites}}